body {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    margin: 2em;
    background-color: #32a852
}

h1 {
    font-style: bold;
}
